 * {
   box-sizing: border-box;
 }

 body {
   /* cursor: pointer; */
   font-family: Arial, Helvetica, sans-serif;
   background-color: #2e2e2e;
 }

 canvas {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 #login-panel {
   position: absolute;
   left: 20%;
   top: 20%;
   width: 250px;
   width: 250px;
   background-image: url(../assets/img/noice.webp);
   background-repeat: repeat;
 }

 #chatbox {
   width: 200px;
   height: 300px;
   position: absolute;
   bottom: 0;
   left: 10px;
   /* border: 1px solid rgb(61, 61, 61); */
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
   z-index: 1;
 }

 .msbox {
   width: 100%;
   height: 90%;
   overflow-y: auto;
   overflow-x: hidden;
   padding-top: 10px;
   padding-bottom: 50px;
 }

 .msbox div {
   display: block;
   border: .5px dashed rgba(0, 255, 255, 0.212);
   padding: 1px;
   color: rgba(139, 137, 137, 0.671)
 }

 .inputbox {
   width: 100%;
   /* padding: 1%; */
 }

 .inputchat {
   width: 100%;
   font-size: 16px;
   padding: 0px;
   padding: 2px;
   background-color: #5f4b4b62;
   color: rgb(0, 183, 255)
 }

 .loading {
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.897);
   width: 100vw;
   height: 100vh;
   z-index: 100000;
 }


 .loadinghandle {
   position: absolute;
   left: 50%;
   top: 50%;
 }

 #main-page {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.664);
   z-index: 2;
   display: none;
 }


 .main-menu {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 2px solid rgba(145, 143, 143, 0.685);
   background-color: #262626e0;
   background-image: url(../assets/img/noice.webp);
   background-repeat: repeat;
   border-radius: 5px;
 }

 ::-webkit-scrollbar {
   width: 10px;
   height: 10px;
 }

 ::-webkit-scrollbar-track {
   background-color: #f1f1f123;
   /* border-radius: 3px; */
 }

 ::-webkit-scrollbar-thumb {
   background-color: #888;
   /* border-radius: 3px; */
 }

 /* For Internet Explorer */
 ::-ms-scrollbar {
   width: 8px;
   height: 8px;
 }

 ::-ms-scrollbar-track {
   background-color: #f1f1f12c;
   /* border-radius: 3px; */
 }

 ::-ms-scrollbar-thumb {
   background-color: #888;
   /* border-radius: 3px; */
 }


 #login-page {
   position: absolute;
   z-index: 20;
   background-image: url(../assets/img/noice.webp);
   /* background-image: url(./img/bg.png); */
   width: 100vw;
   height: 100vh;
   background-size: cover;
   background-blend-mode: color-burn;
 }

 .room-card {
   background-image: url(./img/bot.png);
   background-position: 50% 50%;
   background-size: cover;
 }

 .dropdown-menu {
   height: 300px !important;
   overflow-y: scroll;
   width: 100px !important;
   min-width: auto !important;
 }

 #paint {
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;
   background-image: url(../assets/img/noice.webp);
   user-select: none;
 }

 .map_paint {
   position: absolute;
   top: 0;
   left: 0;
   cursor: move;
 }

 .map_row {
   display: flex;
   flex-direction: row;
   border-bottom: .05px dashed rgba(255, 255, 255, 0.616);
 }

 .map_cell {
   border-left: .05px dashed rgba(255, 255, 255, 0.658);
 }


 .mapcontainer {
   display: flex;
   flex-direction: column;
 }

 #create_map {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-image: url(../assets/img/noice.webp);
   background-color: rgb(46, 46, 46);
   z-index: 5;
 }